@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --color-primary-50: #f4f7f5;
    --color-primary-100: #e3ebe5;
    --color-primary-200: #c1d6c8;
    --color-primary-300: #93b8a1;
    --color-primary-400: #629676;
    --color-primary-500: #3f7854;
    --color-primary-600: #2e5d40;
    --color-primary-700: #264a34;
    --color-primary-800: #203c2b;
    --color-primary-900: #1b3124;
    --color-primary-950: #0e1c14;

    --color-gold-50: #fbf9f1;
    --color-gold-100: #f5f0db;
    --color-gold-200: #ebdcae;
    --color-gold-300: #dfc27e;
    --color-gold-400: #d4a956;
    --color-gold-500: #c98e38;
    --color-gold-600: #ad6f2c;
    --color-gold-700: #8c5326;
    --color-gold-800: #744325;
    --color-gold-900: #603822;
}

